:root {
  --navbar-height: 3.5rem;
  --sidebar-width: 17rem;
}

body {
  margin: 0;
  background-color: #f8fafc;
}

.fixed-top {
  top: 0;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
